@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


.NextStep {
  background-color: #009e00;
  font-family: 'Itim', cursive;
  color: #fff;
  padding: 10px 30px;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 2px 2px lightgrey;
  cursor: pointer;
  text-transform: uppercase;
  margin: 10px 0px;
}

.NextStep:hover{
  background-color: green;

}
.NextStep[disabled]{
  display: none;
}

.finalPage{
  text-align: center;

}

.playagain {
  background-color: #3949ab;
  font-family: 'Itim', cursive;
  color: #fff;
  padding: 10px 30px;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 2px 2px lightgrey;
  cursor: pointer;
  text-transform: uppercase;
margin:10px 10px 10px 10px;
}
.playgain button:hover {
  background-color: #283593;


}

.fakeimg {
  max-width:400px;
  height: 50%;
  text-align: center;


}

.socialwrap
{
      position: absolute;
       left:  50%; top: 95%;
      transform: translate(-50%, -50%)
  }

  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
     .leftcolumn, .rightcolumn, .card, .fakeimg   {
      width: 100%;
      padding: 0;
    }
    .socialwrap {
        position:relative;
         left:  90%;
            float: none;
            width: 100%;
    }
  }

  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .socialwrap
    {

      position: relative;
       left:  75%;
          float: none;
          width: 100%;
        }
  }
