.App {
  background-image: url("./components/media/gifaya.gif");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 110vh;
  box-sizing: border-box;
  background-color: #F0f0f0;
  padding: 50px 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.apphead {
font-family: 'Itim', cursive;
  color: #1970F3;

  text-shadow: 2px 2px black;
  text-align: center;
  font-size: 165%;
}

.Content {
  display: table;
  font-family: 'Itim', cursive;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px;
}
