.App {
  background-image: url("./components/media/gifaya.gif");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 110vh;
  box-sizing: border-box;
  background-color: #F0f0f0;
  padding: 50px 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.apphead {
font-family: 'Itim', cursive;
  color: #3949ab;

  text-shadow: 2px 2px black;
  text-align: center;
  font-size: 165%;
}

.Content {
  display: table;
  font-family: 'Itim', cursive;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn, .card, .fakeimg   {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .App, .apphead {
    width: 100%;
  }
}
